In [15]:
# Libraries
from nltk.util import pr
import pandas as pd #Untuk mengimport data/file (csv, dll) dari sumber luar
import numpy as np #mengelola komputasi matrix
import re #reguler expression
import matplotlib.pyplot as plt #persentasi data berupa grafik/plot
import string
from textblob import TextBlob
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import re

In [16]:
data = pd.read_csv('C:/Users/sinag/belajar/dataset_fix.csv', sep = ',', encoding ='utf-8')
data.head()

         username                                               text    label
0  akhmad Zubaeri  Repot .!untuk orang miskin kayak saya yang ker...  negatif
1       Amin Udin  Stiap desa kasih relawan dan alat tes .pak aga...  positif
2       Amin Udin  kesadaran masyarakat yang rendah tapi yg di sa...  negatif
3       Amin Udin                           pengen hidup normal lagi   netral
4     Sarip sarip  Lockdown cepat, lambat banget kerjanya pemerintah  negatif

In [17]:
data.shape

(1414, 3)

In [18]:
data.sample(5)

,username,text,label
634,ari iku jenengq,"Ambil aja positif nya kalo gak begini, sampe k...",negatif
265,Soni Sunarya,Mendingan demo aja atau pilkada pasti covid se...,negatif
474,Febri Ragiel,pak kami sudah penganguran karna di phk perusa...,negatif
248,Arfino Fino,Virus ini kalo blm ganti persiden blm akan hab...,negatif
1264,Hayati Bayu,org Indonesia ngeyel dan maunya Instan......,positif

In [19]:
data.describe()

              username          text    label
count             1414          1414     1414
unique            1300          1411        3
top     Sherly Deviana  Omong kosong  negatif
freq                13             3      727

In [20]:
data['label'].value_counts()

negatif    727
netral     392
positif    295
Name: label, dtype: int64

In [21]:
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer

tokenizer = WordPunctTokenizer()
twitter_handle = r'@[A-Za-z0-9_]+'                         # remove twitter handle (@username)
url_handle = r'http[^ ]+'                                  # remove website URLs that start with 'https?://'
combined_handle = r'|'.join((twitter_handle, url_handle))  # join
www_handle = r'www.[^ ]+'                                  # remove website URLs that start with 'www.'
punctuation_handle = r'\W+'

In [22]:
stopwords = pd.read_csv('C:/Users/sinag/belajar/stopwords.txt', sep = ',', encoding ='utf-8')
stopwords

          untuk
0           apa
1           aja
2       allamin
3           nya
4            di
..          ...
360      stelah
361     sejenak
362       hanya
363  wakakakaka
364    yarobbal

[365 rows x 1 columns]

In [24]:
def process_text(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()

    try:
        text = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        text = souped

    cleaned_text = re.sub(punctuation_handle, " ",(re.sub(www_handle, '', re.sub(combined_handle, '', text)).lower()))
    cleaned_text = ' '.join([word for word in cleaned_text.split() if word not in stopwords])

    return (" ".join([word for word in tokenizer.tokenize(cleaned_text) if len(word) > 1])).strip()
data.head(100)

,username,text,label
0,akhmad Zubaeri,Repot .!untuk orang miskin kayak saya yang ker...,negatif
1,Amin Udin,Stiap desa kasih relawan dan alat tes .pak aga...,positif
2,Amin Udin,kesadaran masyarakat yang rendah tapi yg di sa...,negatif
3,Amin Udin,pengen hidup normal lagi,netral
4,Sarip sarip,"Lockdown cepat, lambat banget kerjanya pemerintah",negatif
...,...,...,...
95,naibin009,Yg perlu kita sesali itu kenapa pemimpin kita ...,negatif
96,Pejuang Tunas,"Ijin bagi info dong Gan, yg sudah Positif Meni...",netral
97,Zadista Zadista,Udah baik pak jokowi tapi rakyat nya masih kur...,positif
98,Dicky DK,Jadi gini klo kita disuruh diam dirumah pemeri...,negatif
99,Joe1 Coex,Bergeraknya dari bawah jdi penanganan satgas c...,positif

In [156]:
example_text = "Repot .!untuk orang kecil..... PNS enak .,"

process_text(example_text)

'repot orang kecil pns enak'

In [157]:
cleaned_text = []

for text in data.text:
    cleaned_text.append(process_text(text))

clean_text = pd.DataFrame({'clean_text' : cleaned_text})
data = pd.concat([data, clean_text], axis = 1)
data = data[['username', 'text', 'clean_text', 'label']]
data.head()

,username,text,label,clean_text
0,akhmad Zubaeri,"Repot .!untuk orang kecil..... PNS enak .,",0,repot orang kecil pns enak
1,Amin Udin,Stiap desa kasih relawan dan alat tes .pak aga...,1,stiap desa kasih relawan dan alat tes pak agar...
2,Sarip sarip,Lokdon Jo,1,lokdon jo
3,riza alkaff,"Sampean kurang cepet pakde., kurang tegas.",0,sampean kurang cepet pakde kurang tegas
4,sekti tv,Asalamualaikum\nYg positif corona yg sakit cor...,1,asalamualaikum yg positif corona yg sakit coro...

In [160]:
from sklearn.model_selection import train_test_split

attribute = data.clean_text
target = data.label

In [161]:
attribute_train, attribute_test, target_train, target_test = train_test_split(attribute, target, test_size = 0.1, random_state = 225)

print('attribute_train :', len(attribute_train))
print('attribute_test  :', len(attribute_test))
print('target_train :', len(target_train))
print('target_test  :', len(target_test))

attribute_train : 1272
attribute_test  : 142
target_train : 1272
target_test  : 142

In [ ]:
import collections, numpy
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cos_sim, data_clean['label'], test_size=0.3, random_state=33)
print("Jumlah Data Uji:", X_test.shape)
print("Jumlah Data Latih:",X_train.shape)

In [164]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

tvec = TfidfVectorizer()
clf2 = LogisticRegression()

In [165]:
from sklearn.pipeline import Pipeline

model = Pipeline([('vectorizer',tvec)
                 ,('classifier',clf2)])

model.fit(attribute_train, target_train)

Pipeline(steps=[('vectorizer', TfidfVectorizer()),
                ('classifier', LogisticRegression())])

In [166]:
attribute_train.head(10)

434                strategy terbaik adalah tanpa strategy
471     alhamdulillah semenjak komvid usaha saya bangk...
687     vaksin virus yg sesungguhnya jadi jangan mau v...
1006    semakin lucu saja tindakan dan aturannya pemer...
991     bisa nyetop sementara kredit cicilan apa engga...
122     semoga bp jokowi slalu dalam lindungan mu ya a...
584     glontorkan kemana dananya sy tinggal di kosan ...
606     pak aku ngak dapat bantuaan apa apa ngimana ni...
310              cnn ini audionya gabisa gedean dikit apa
699     covid gak bakal hilang selama nya jd vaksin hr...
Name: clean_text, dtype: object

In [88]:
# import hasil preprocessing ke dalam file csv
attribute_train.to_csv('C:/Users/sinag/belajar/train.csv', index=False)
attribute_train = pd.read_csv('C:/Users/sinag/belajar/train.csv', encoding='latin1')
print("hasil")
print(attribute_train)

hasil
                                             clean_text
0                strategy terbaik adalah tanpa strategy
1     alhamdulillah semenjak komvid usaha saya bangk...
2     vaksin virus yg sesungguhnya jadi jangan mau v...
3     semakin lucu saja tindakan dan aturannya pemer...
4     bisa nyetop sementara kredit cicilan apa engga...
...                                                 ...
1267  hr gini masi ada ksdrun yg dislike otakny kema...
1268                        revisi harap di revisi lagi
1269  klo dana nya habis corona nya kabur dong nyari...
1270  boro dapat bantuan mudik kagak bisa nasih rant...
1271  nyaris juta tapi sekolah gue ngadin pkl sedang...

[1272 rows x 1 columns]

In [176]:
example_text = ["strategi baik pak"]
example_result = model.predict(example_text)

print(example_result)

[0]

In [177]:
from sklearn.metrics import confusion_matrix

verdict = model.predict(attribute_test)

confusion_matrix(verdict, target_test)

array([[65, 27],
       [19, 31]], dtype=int64)

In [178]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

print("Accuracy : ", accuracy_score(verdict, target_test))
print("Precision : ", precision_score(verdict, target_test, average = 'weighted'))
print("Recall : ", recall_score(verdict, target_test, average = 'weighted'))

Accuracy :  0.676056338028169
Precision :  0.6895395360669765
Recall :  0.676056338028169