In [172]:
# Libraries
from nltk.util import pr
import pandas as pd #Untuk mengimport data/file (csv, dll) dari sumber luar
import numpy as np #mengelola komputasi matrix
import re #reguler expression
import matplotlib.pyplot as plt #persentasi data berupa grafik/plot
import string
from textblob import TextBlob
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import re

In [173]:
data = pd.read_csv('C:/Users/sinag/belajar/dataset_fix.csv', sep = ',', encoding ='utf-8')
data.head()

         username                                               text    label
0  akhmad Zubaeri  Repot .!untuk orang miskin kayak saya yang ker...  negatif
1       Amin Udin  Stiap desa kasih relawan dan alat tes .pak aga...  positif
2       Amin Udin  kesadaran masyarakat yang rendah tapi yg di sa...  negatif
3       Amin Udin                           pengen hidup normal lagi   netral
4     Sarip sarip  Lockdown cepat, lambat banget kerjanya pemerintah  negatif

In [174]:
data.shape

(1414, 3)

In [166]:
data.sample(5)

,username,text,label
378,Snopy Gabbie,moga- moga ngga kena korupsi,netral
1273,bang ayung,"Gmana cara nya,? dan tau kah yg terimbas langs...",netral
292,Jaka M sulaimain,Semoga segera berakhir,netral
263,Bermain bersama BERLY,Saya dari dulu kerja di luar Alhamdulillah ga ...,netral
289,Hudi Asmoro,Salfok ...om Fajrul kok nampak gemuk ya skrng?,netral

In [167]:
data['label'].value_counts()

negatif    727
netral     392
positif    295
Name: label, dtype: int64

In [ ]:
# proses case folding 
def casefolding(text):
    text = text.lower()
    return text
data['text'] = data['text'].apply(casefolding)
data.head(10)

In [128]:
# proses cleansing remove regex (cleansing) seperti tanda baca dan angka angka
# Proses Cleansing (menghapus karaketer selain huruf)
def cleansing(text):
  text = re.sub(r"\d+", "", text) # menghapus bilangan
  text = text.translate(str.maketrans("","",string.punctuation)) #menghapus simbol  
  text = re.sub(r'\r', ' ', text) #menghapus \r    
  text = re.sub(r'\n', ' ', text) #menghapus \n (newline)  
  text = re.sub(r'@[\w|a-z0-9]*', ' ', text) #menghapus @username      
  text = re.sub(r'#[\w|a-z0-9]*', ' ', text) #menghapus #hashtags    
  text = re.sub(r'https://*[\r\n]*', ' ', text) #menghapus link http 
  text = re.sub(r'www.[^ ]+', ' ', text) #menhilangkan situs website    
  #menghapus emoji
  text = re.sub(r'[ğŸ˜ŠğŸ˜€ğŸ˜ğŸ˜‚ğŸ™„ğŸ˜ƒğŸ˜ŠğŸ˜„ğŸ˜…ğŸ˜†ğŸ¤£ğŸ˜‡ğŸ˜ˆğŸ˜‰ğŸ˜¯ğŸ˜ğŸ˜‘ğŸ˜•ğŸ˜ ğŸ˜¬ğŸ˜¡ğŸ˜¢ğŸ˜´ğŸ˜®ğŸ¤”ğŸ˜£ğŸ˜¤ğŸ˜¥ğŸ˜¦ğŸ˜§ğŸ˜¨ğŸ˜©ğŸ˜°ğŸ˜ŸğŸ˜±ğŸ˜²ğŸ˜³ğŸ˜µğŸ˜¶ğŸ˜·ğŸ˜ğŸ˜’ğŸ˜ğŸ˜›ğŸ˜œğŸ˜ğŸ˜‹ğŸ˜—ğŸ˜™ğŸ˜˜ğŸ˜šğŸ˜ğŸ˜­ğŸ˜ŒğŸ˜–ğŸ˜”ğŸ˜ªğŸ˜ğŸ˜“ğŸ˜«ğŸ™‹ğŸ™ŒğŸ™ğŸ™…ğŸ™†ğŸ™‡ğŸ™ğŸ˜ºğŸ˜¼ğŸ˜¸ğŸ˜¹ğŸ˜»ğŸ˜½ğŸ˜¿ğŸ˜¾ğŸ™€ğŸ™ˆğŸ™‰ğŸ™ŠğŸ’©ğŸ‘¶ğŸ‘¦ğŸ‘§ğŸ‘¨ğŸ‘©ğŸ‘´ğŸ‘µğŸ’ğŸ’‘ğŸ‘ªğŸ‘«ğŸ‘¬ğŸ‘¤ğŸ‘¥ğŸ‘®ğŸ‘·ğŸ’ğŸ’‚ğŸ‘¯ğŸ‘°ğŸ‘¸ğŸ…ğŸ‘¼ğŸ‘±ğŸ‘²ğŸ‘³ğŸ’ƒğŸ’†ğŸ’‡ğŸ’…ğŸ‘»ğŸ‘¹ğŸ‘‚]*', '', text) 
  text = re.sub(r'[ğŸ‘ƒğŸ‘£ğŸ‘„ğŸ‘…ğŸ’‹â¤ğŸ’™ğŸ’šğŸ’›ğŸ’œğŸ’“ğŸ’”ğŸ’•ğŸ’–ğŸ’—ğŸ’˜ğŸ’ğŸ’ğŸ’ŸğŸ‘ğŸ™ğŸ–’ğŸ™ğŸ½ğŸ‘ğŸ½ğŸ‘âœŒğŸ‘ŒâœŠâœ‹ğŸ‘Šâ˜ğŸ‘†ğŸ‘‡ğŸ‘ˆğŸ‘‰ğŸ‘‹ğŸ‘ğŸ™ğŸ‘ğŸ¤²ğŸ‘ï¸ğŸ•ğŸ¶ğŸ©ğŸˆğŸ±ğŸ€ğŸğŸ­ğŸ¹ğŸ¢ğŸ‡ğŸ°ğŸ“ğŸ”ğŸ£ğŸ¤ğŸ¥ğŸ¦ğŸğŸ‘ğŸğŸºğŸƒğŸ‚ğŸ„ğŸ®ğŸ´ğŸ—ğŸ–ğŸ·ğŸ½ğŸ¸ğŸğŸ¼ğŸ˜ğŸ¨ğŸ’ğŸµğŸ†ğŸ¯ğŸ»ğŸ«ğŸªğŸŠğŸ³ğŸ‹ğŸŸğŸ ğŸ¡ğŸ™ğŸšğŸ¬ğŸŒğŸ›ğŸœğŸğŸğŸ²ğŸ‰ğŸ¾ğŸ¸ğŸºğŸ·ğŸ¹ğŸ¶â˜•ğŸµğŸ¼ğŸ¨ğŸ§ğŸ¦ğŸ©ğŸ°ğŸªğŸ«ğŸ¬ğŸ­]*', '', text) 
  text = re.sub(r'[ğŸ’§âš¡ğŸŒ€â„â›„ğŸŒ™ğŸŒğŸŒğŸŒšğŸŒ›ğŸŒœğŸŒ‘ğŸŒ’ğŸŒ“ğŸŒ”ğŸŒ•ğŸŒ–ğŸŒ—ğŸŒ˜ğŸ‘ğŸŒ„ğŸŒ…ğŸ•µğŸŒ‡ğŸŒ†ğŸŒƒğŸŒŒğŸŒ‰ğŸŒŠğŸŒ‹ğŸŒğŸŒğŸŒğŸŒğŸ”°ğŸ’„ğŸ‘ğŸ‘ŸğŸ‘‘ğŸ‘’ğŸ©ğŸ“ğŸ‘“âŒšğŸ‘”ğŸ‘•ğŸ‘–ğŸ‘—ğŸ‘˜ğŸ‘™ğŸ‘ ğŸ‘¡ğŸ‘¢ğŸ‘šğŸ‘œğŸ’¼ğŸ’ğŸ‘ğŸ‘›ğŸ’°ğŸ’³ğŸ’²ğŸ’µğŸ’´ğŸ’¶ğŸ’·ğŸ’¸ğŸ’±ğŸ’¹ğŸ”«ğŸ”ªğŸ’£ğŸ’‰ğŸ’ŠğŸš¬ğŸ””ğŸ”•ğŸšªğŸ”¬ğŸ”­ğŸ”®ğŸ”¦ğŸ”‹ğŸ”ŒğŸ“œğŸ“—ğŸ“˜ğŸ“™ğŸ“šğŸ“”ğŸ“’ğŸ“‘ğŸ““ğŸ“•â—ğŸ“–ğŸ“›ğŸƒğŸ„ğŸ€ğŸğŸ‚ğŸ»ğŸˆğŸ†ğŸ‡ğŸ‰ğŸŠğŸğŸğŸŒğŸğŸ‹ğŸğŸ“±ğŸŒ°ğŸŒ±ğŸ‘ğŸŒ³]*', '', text) 
  text = re.sub(r'[ğŸ“¦âœ‰ğŸ“¨ğŸ“©ğŸ“ªğŸ“«ğŸ“­ğŸ“¬ğŸ“®ğŸ“¤ğŸ“¥ğŸ“¯ğŸ“¢ğŸ“£ğŸ“¡ğŸ’¬ğŸ’­âœ’âœğŸ“ğŸ“ğŸ“ğŸ“ğŸ’ğŸ“ŒğŸ“âœ‚ğŸ’ºğŸ’»ğŸ’½ğŸ’¾ğŸ’¿ğŸ“†ğŸ“…ğŸ“‡ğŸ“‹ğŸ“ğŸ“‚ğŸ“ƒğŸ“„ğŸ“ŠğŸ“ˆğŸ“‰â›ºğŸ¡ğŸ¢ğŸ ğŸªğŸ¨ğŸ¬ğŸ¥ğŸ“·ğŸ“¹ğŸ¦ğŸ­ğŸ«ğŸ®ğŸ²ğŸ°ğŸƒğŸ´ğŸ€„ğŸ¯ğŸ“ºğŸ“»ğŸ“€ğŸ“¼ğŸ§ğŸ¤ğŸµğŸ¶ğŸ¼ğŸ»ğŸ¹ğŸ·ğŸºğŸ¸ã€½ğŸ ğŸ¡ğŸ¢ğŸ£ğŸ¤ğŸ¥ğŸ¦ğŸ§ğŸ¨ğŸ©ğŸ¤ğŸ£ğŸ±ğŸğŸœğŸ“°ğŸ™ğŸšğŸ›ğŸ²ğŸ¥ğŸ¢ğŸ˜ğŸ ğŸŒğŸğŸğŸŠğŸ‹ğŸ„ğŸ…ğŸ†ğŸ‡ğŸˆğŸ‰ğŸğŸ‘¿ğŸŒ²]*', '', text) 
  text = re.sub(r'[ğŸªğŸ«â›ªâ›²ğŸ¬ğŸ¯ğŸ°ğŸ­ğŸ—»ğŸ—¼ğŸ—½ğŸ—¾ğŸ—¿âš“ğŸ®ğŸ’ˆğŸ”§ğŸ”¨ğŸ”©ğŸš¿ğŸ›ğŸ›€ğŸš½ğŸš¾ğŸ½ğŸ£ğŸ±ğŸ³âš¾â›³ğŸ¾âš½ğŸ¿ğŸ€ğŸğŸ‚ğŸƒğŸ„ğŸ†ğŸ‡ğŸğŸˆğŸ‰ğŸŠğŸš‚ğŸšƒğŸš„ğŸš…ğŸš†ğŸš‡â“‚ğŸšˆğŸšŠğŸš‹ğŸšŒğŸšğŸšğŸšğŸšğŸš‘ğŸš’ğŸš“ğŸš”ğŸš•ğŸš–ğŸš—ğŸš˜ğŸš™ğŸššğŸš›ğŸšœğŸšğŸšğŸšŸğŸš ğŸš¡ğŸš¢ğŸš£ğŸšâœˆğŸ›‚ğŸ›ƒğŸ›„ğŸ›…â›µğŸš²ğŸš³ğŸš´ğŸšµğŸ§ğŸš·ğŸš¸ğŸš‰ğŸš€ğŸš¤ğŸš¶â›½ğŸ…¿ğŸš¥ğŸš¦ğŸš§ğŸš¨â™¨ğŸ’ŒğŸ’ğŸ’ğŸ’ğŸ’’ğŸƒğŸŒºğŸŒ»ğŸŒ¼ğŸŒ¸ğŸ€ğŸğŸ®]*', '', text) 
  text = re.sub(r'[ğŸ”ğŸ”™ğŸ”›ğŸ”œğŸ”šâ³âŒ›â°â™ˆâ™‰â™Šâ™‹â™Œâ™â™â™â™â™‘â™’â™“â›ğŸ”±ğŸš»ğŸš®ğŸš¯ğŸš°ğŸš±ğŸ…°ğŸ…±ğŸ†ğŸ…¾ğŸ’®ğŸ’¯ğŸ” ğŸ”¡ğŸ”¢ğŸ”£ğŸ”¤â¿ğŸ“¶ğŸ“³ğŸ“´ğŸ“µğŸš¹ğŸšºğŸš¼â™¿â™»ğŸš­ğŸš©âš ğŸˆğŸ”â›”ğŸ†’ğŸ†—ğŸ†•ğŸ†˜ğŸ†™ğŸ†“ğŸ†–ğŸ†šğŸˆ²ğŸˆ³ğŸˆ´ğŸˆµğŸˆ¶ğŸˆ·ğŸˆ¸ğŸˆ¹ğŸˆ‚ğŸˆºğŸ‰ğŸ‰‘ãŠ™Â®Â©â„¢ğŸˆšğŸˆ¯ãŠ—â­•âŒââ„¹â™ ğŸš«âœ…âœ”ğŸ”—âœ´âœ³â•â•â–âœ–â—ğŸ’ ğŸ’¤ğŸ’¢ğŸ”¥ğŸ’¥ğŸ’¨ğŸ’¦ğŸ’«ğŸ•›ğŸŒ¿ğŸ´â˜€â›…ğŸ¡â˜ğŸŒğŸŒ‚â˜”ğŸ“²ğŸ’ğŸ“ğŸğŸ¯]*', '', text) 
  text = re.sub(r'[ğŸ•§ğŸ•ğŸ•œğŸ•‘ğŸ•ğŸ•’ğŸ•ğŸ•“ğŸ•ŸğŸ•”ğŸ• ğŸ••ğŸ•¡ğŸ•–ğŸ•¢ğŸ•—ğŸ•£ğŸ•˜ğŸ•¤ğŸ•™ğŸ•¥ğŸ•šğŸ•¦â†•â¬†â†—â¡â†˜â¬‡â†™â¬…â†–â†”â¤´â¤µâªâ«â¬â©â—€â–¶ğŸ”½â‡âœ¨ğŸ”´ğŸ”µâšªâš«ğŸ”³ğŸ”²â­ğŸŒŸğŸŒ â–«â—½â—¾â—»â—¼â¬œâ¬›ğŸ”¸ğŸ”¹ğŸ”¶ğŸ”·ğŸ”ºğŸ”»â”â“â€¼â‰ã€°â°â™¥â™£â™¦ğŸ†”ğŸ”‘â†©ğŸ†‘ğŸ”ğŸ”’ğŸ”“â†ªğŸ”â˜‘ğŸ”˜ğŸ”ğŸ”–ğŸ”ğŸ”ƒğŸ”€ğŸ”ğŸ”‚ğŸ”„ğŸ“§ğŸ”…ğŸ”†ğŸ”‡ğŸ”ˆğŸ”‰ğŸ”ŠğŸŒ½ğŸŒ¾ğŸ“Ÿâ˜ğŸ’¡ğŸ“ğŸ“ ğŸğŸ•ğŸ–ğŸ—ğŸ’€ğŸ’ªğŸ‘€ğŸŒˆğŸ‘ºğŸ‘½ğŸ‘¾ğŸ³ğŸŸğŸŒ´ğŸŒµğŸŒ·ğŸ‚ğŸ”ğŸŒ¹]*', '', text) 

  return text
data['text'] = data['text'].apply(cleansing)
data.head()

         username                                               text    label
0  akhmad Zubaeri  repot untuk orang miskin kayak saya yang kerja...  negatif
1       Amin Udin  stiap desa kasih relawan dan alat tes pak agar...  positif
2       Amin Udin  kesadaran masyarakat yang rendah tapi yg di sa...  negatif
3       Amin Udin                           pengen hidup normal lagi   netral
4     Sarip sarip   lockdown cepat lambat banget kerjanya pemerintah  negatif

In [129]:
def open_kamus_prepro(x):
	kamus={}
	with open(x,'r') as file :
		for line in file :
			slang=line.replace("'","").split(':')
			kamus[slang[0].strip()]=slang[1].rstrip('\n').lstrip()
	return kamus

kamus_slang=open_kamus_prepro('C:/Users/sinag/belajar/slangwords.txt')

In [130]:
def slangword(text):  
    sentence_list = text.split()
    new_sentence = []
    for word in sentence_list:
      for candidate_replacement in kamus_slang:
        if candidate_replacement == word:
          word = word.replace(candidate_replacement, kamus_slang[candidate_replacement])
      new_sentence.append(word)
    return " ".join(new_sentence)

data['text'] = data['text'].apply(lambda x: slangword(x))
data.head()

         username                                               text    label
0  akhmad Zubaeri  repot untuk orang miskin kayak saya yang kerja...  negatif
1       Amin Udin  setiap desa kasih relawan dan alat tes pak aga...  positif
2       Amin Udin  kesadaran masyarakat yang rendah tapi yang di ...  negatif
3       Amin Udin                            ingin hidup normal lagi   netral
4     Sarip sarip   lockdown cepat lambat banget kerjanya pemerintah  negatif

In [131]:
# Proses Tokenizing (memecah kalimat menjadi kata)
def tokenizing(text):
    text = nltk.tokenize.word_tokenize (text)
    return text
data['text'] = data ['text'].apply(tokenizing)
data.head()

         username                                               text    label
0  akhmad Zubaeri  [repot, untuk, orang, miskin, kayak, saya, yan...  negatif
1       Amin Udin  [setiap, desa, kasih, relawan, dan, alat, tes,...  positif
2       Amin Udin  [kesadaran, masyarakat, yang, rendah, tapi, ya...  negatif
3       Amin Udin                       [ingin, hidup, normal, lagi]   netral
4     Sarip sarip  [lockdown, cepat, lambat, banget, kerjanya, pe...  negatif

In [133]:
# Menambah daftar stopword 
stopword = open('C:/Users/sinag/Documents/coba/login_flask/stopwords.txt',"r",encoding="utf-8", errors='replace')
stopword = [t.strip('\n').strip() for t in stopword]

# Proses Filtering/Stopword (membuang kata yang tidak dibutuhkan)
def stopword_removal(text):
    filtering = stopword
    x = []
    data = []
    def myFunc(x):
        if x in filtering:
            return False
        else:
            return True
    fit = filter(myFunc, text)
    for x in fit:
        data.append(x)
    return data
data['text'] = data ['text'].apply(stopword_removal)
data.head()

         username                                               text    label
0  akhmad Zubaeri  [repot, orang, miskin, kerjanya, serabutan, pe...  negatif
1       Amin Udin  [setiap, desa, relawan, alat, tes, pak, tetap,...  positif
2       Amin Udin  [kesadaran, masyarakat, rendah, salahkan, mala...  negatif
3       Amin Udin                                    [hidup, normal]   netral
4     Sarip sarip    [lockdown, cepat, lambat, kerjanya, pemerintah]  negatif

In [105]:
data = data.astype({'label' : 'category'})
data = data.astype({'text' : 'string'})
data.dtypes

username      object
text          string
label       category
dtype: object

In [106]:
def preprocess_data(text):
    text = casefolding(text)
    text = cleansing(text)
    text = slangword(text)
    text = tokenizing(text)
    text = stopword_removal(text)
    return text

In [107]:
# mencoba preprocessing
example_text = "Repot .!untuk orang kecil..... PNS enak .,"

preprocess_data(example_text)

['repot', 'orang', 'kecil', 'pegawai', 'negeri', 'sipil', 'enak']

In [108]:
# splitting data latih 70 : uji 30
import collections, numpy
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['label'], test_size=0.2, random_state=33)
print('jumlah data latih :', len(X_train))
print('jumlah data uji  :', len(X_test))

pos = (y_test == 'positif').sum()
neg = (y_test == 'negatif').sum()
net = (y_test == 'netral').sum()
print("\n")
postrain = (y_train == 'positif').sum()
negtrain = (y_train == 'negatif').sum()
nettrain = (y_train == 'netral').sum()
total = pos + neg + net
print("Jumlah data uji dengan sentimen positif:", pos)
print("Jumlah data uji dengan sentimen negatif:",neg)
print("Jumlah data uji dengan sentimen netral:",net)
print("Jumlah data latih dengan sentimen positif:", postrain)
print("Jumlah data latih dengan sentimen negatif:",negtrain)
print("Jumlah data latih dengan sentimen netral:",nettrain)

jumlah data latih : 1131
jumlah data uji  : 283


Jumlah data uji dengan sentimen positif: 55
Jumlah data uji dengan sentimen negatif: 157
Jumlah data uji dengan sentimen netral: 71
Jumlah data latih dengan sentimen positif: 240
Jumlah data latih dengan sentimen negatif: 570
Jumlah data latih dengan sentimen netral: 321

In [109]:
#save the data
X_train.to_csv('C:/Users/sinag/belajar/train.csv',index=False)
X_test.to_csv('C:/Users/sinag/belajar/test.csv',index=False)

In [110]:
#save the data
y_train.to_csv('C:/Users/sinag/belajar/ytrain.csv',index=False)
y_test.to_csv('C:/Users/sinag/belajar/ytest.csv',index=False)

In [93]:
y_train.head(10)

952     negatif
1126    negatif
1288    negatif
5       negatif
1286    negatif
948      netral
582     negatif
178     negatif
624     negatif
126      netral
Name: label, dtype: category
Categories (3, object): ['negatif', 'netral', 'positif']

In [84]:
# PROSES TF IDF
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(data['text'].astype('U'))

tf = TfidfVectorizer()
text_tf = tf.fit_transform(data['text'].astype('U'))
print(text_tf)

  (0, 914)	0.2605562419169407
  (0, 218)	0.17710042159282335
  (0, 2815)	0.2353254496317485
  (0, 987)	0.314415628383087
  (0, 3180)	0.32518805718976634
  (0, 2292)	0.2642599256787869
  (0, 2487)	0.32518805718976634
  (0, 3123)	0.3687205121964971
  (0, 1543)	0.314415628383087
  (0, 2219)	0.23421856253533221
  (0, 2391)	0.16712432393946447
  (0, 2875)	0.38416389638025944
  (1, 70)	0.3581179291991274
  (1, 3470)	0.29286744009818505
  (1, 2415)	0.2361150868281912
  (1, 3466)	0.34236375913523037
  (1, 60)	0.39497492888869506
  (1, 2866)	0.48259403781774324
  (1, 656)	0.30962280684348836
  (1, 3152)	0.3581179291991274
  (2, 1309)	0.26438688573268326
  (2, 3082)	0.3724507260445698
  (2, 17)	0.3724507260445698
  (2, 2533)	0.1629573729512254
  (2, 1806)	0.26827930576001013
  :	:
  (1410, 2873)	0.358754180492804
  (1410, 95)	0.26385629230744506
  (1410, 433)	0.28128120076127366
  (1410, 2872)	0.358754180492804
  (1411, 174)	0.47171719241710797
  (1411, 1225)	0.47171719241710797
  (1411, 1647)	0.37506123036996153
  (1411, 3464)	0.37506123036996153
  (1411, 2534)	0.3701762844074516
  (1411, 2288)	0.23429427542857184
  (1411, 1188)	0.19896550629050833
  (1411, 2391)	0.20521297710729505
  (1412, 2796)	0.5140604655917291
  (1412, 1781)	0.5140604655917291
  (1412, 599)	0.3817740089288725
  (1412, 228)	0.27333970960430276
  (1412, 2435)	0.3277332524771745
  (1412, 6)	0.18636909261608406
  (1412, 914)	0.3299623633525981
  (1413, 1838)	0.5305286514739983
  (1413, 2400)	0.5305286514739983
  (1413, 3341)	0.5020813728769872
  (1413, 2416)	0.3061109556078963
  (1413, 1734)	0.27171826448016795
  (1413, 3478)	0.13212971862918513

In [85]:
# Import cosine_similarity metrics
from sklearn.metrics.pairwise import cosine_similarity
# compute similarity using cosine similarity
cos_sim=cosine_similarity(text_tf, text_tf)
print(cos_sim)

[[1.         0.         0.         ... 0.03429608 0.08597375 0.        ]
 [0.         1.         0.04986009 ... 0.         0.         0.        ]
 [0.         0.04986009 1.         ... 0.         0.         0.        ]
 ...
 [0.03429608 0.         0.         ... 1.         0.         0.        ]
 [0.08597375 0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [86]:
# splitting data latih 70 : uji 30
import collections, numpy
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cos_sim, data['label'], test_size=0.3, random_state=233)
print('jumlah data latih :', len(X_train))
print('jumlah data uji  :', len(X_test))

pos = (y_test == 'positif').sum()
neg = (y_test == 'negatif').sum()
net = (y_test == 'netral').sum()
print("\n")
postrain = (y_train == 'positif').sum()
negtrain = (y_train == 'negatif').sum()
nettrain = (y_train == 'netral').sum()
total = pos + neg + net
print("Jumlah data uji dengan sentimen positif:", pos)
print("Jumlah data uji dengan sentimen negatif:",neg)
print("Jumlah data uji dengan sentimen netral:",net)
print("Jumlah data latih dengan sentimen positif:", postrain)
print("Jumlah data latih dengan sentimen negatif:",negtrain)
print("Jumlah data latih dengan sentimen netral:",nettrain)

jumlah data latih : 989
jumlah data uji  : 425


Jumlah data uji dengan sentimen positif: 95
Jumlah data uji dengan sentimen negatif: 212
Jumlah data uji dengan sentimen netral: 118
Jumlah data latih dengan sentimen positif: 200
Jumlah data latih dengan sentimen negatif: 515
Jumlah data latih dengan sentimen netral: 274

In [87]:
# perform algoritma KNN
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train,y_train)
predknn = knn.predict(X_test)
print("Confusion Matrix for K Neighbors Classifier:")
print(confusion_matrix(y_test,predknn))
print("\n")
print("Accuracy : ", round(accuracy_score(predknn, y_test)*100,3))
print("Precision : ", round(precision_score(predknn, y_test, average = 'weighted')*100,3))
print("Recall : ", round(recall_score(predknn, y_test, average = 'weighted')*100,3))
print("\n")
print("Classification Report:")
print(classification_report(y_test,predknn))

Confusion Matrix for K Neighbors Classifier:
[[140  53  19]
 [ 48  66   4]
 [ 43  31  21]]


Accuracy :  53.412
Precision :  57.923
Recall :  53.412


Classification Report:
              precision    recall  f1-score   support

     negatif       0.61      0.66      0.63       212
      netral       0.44      0.56      0.49       118
     positif       0.48      0.22      0.30        95

    accuracy                           0.53       425
   macro avg       0.51      0.48      0.48       425
weighted avg       0.53      0.53      0.52       425

In [88]:
# Decision Tree
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
# splitting data latih 70 : uji 30
import collections, numpy
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cos_sim, data['label'], test_size=0.2, random_state=122)
print('jumlah data latih :', len(X_train))
print('jumlah data uji  :', len(X_test))

pos = (y_test == 'positif').sum()
neg = (y_test == 'negatif').sum()
net = (y_test == 'netral').sum()
print("\n")
postrain = (y_train == 'positif').sum()
negtrain = (y_train == 'negatif').sum()
nettrain = (y_train == 'netral').sum()
total = pos + neg + net
print("Jumlah data uji dengan sentimen positif:", pos)
print("Jumlah data uji dengan sentimen negatif:",neg)
print("Jumlah data uji dengan sentimen netral:",net)
print("Jumlah data latih dengan sentimen positif:", postrain)
print("Jumlah data latih dengan sentimen negatif:",negtrain)
print("Jumlah data latih dengan sentimen netral:",nettrain)

clf = tree.DecisionTreeClassifier()
#lakukan prediksi pada data test
clf.fit(X_train, y_train)
dt = clf.predict(X_test)
#cros_val_score(clf, X_train, y_train, cv=10)

jumlah data latih : 1131
jumlah data uji  : 283


Jumlah data uji dengan sentimen positif: 66
Jumlah data uji dengan sentimen negatif: 145
Jumlah data uji dengan sentimen netral: 72
Jumlah data latih dengan sentimen positif: 229
Jumlah data latih dengan sentimen negatif: 582
Jumlah data latih dengan sentimen netral: 320

In [89]:
print("Confusion Matrix for Decision Tree Classifier:")
print(confusion_matrix(y_test,dt))
print("\n")
print("Accuracy : ", round(accuracy_score(dt, y_test)*100,3))
print("Precision : ", round(precision_score(dt, y_test, average = 'weighted')*100,3))
print("Recall : ", round(recall_score(dt, y_test, average = 'weighted')*100,3))
print("\n")
print("Classification Report:")
print(classification_report(y_test,dt))

Confusion Matrix for Decision Tree Classifier:
[[91 32 22]
 [36 26 10]
 [27 16 23]]


Accuracy :  49.47
Precision :  50.366
Recall :  49.47


Classification Report:
              precision    recall  f1-score   support

     negatif       0.59      0.63      0.61       145
      netral       0.35      0.36      0.36        72
     positif       0.42      0.35      0.38        66

    accuracy                           0.49       283
   macro avg       0.45      0.45      0.45       283
weighted avg       0.49      0.49      0.49       283

In [91]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':dt})
df

       Actual Predicted
656   negatif   negatif
466   negatif   negatif
993   negatif   negatif
17     netral    netral
789   positif   negatif
...       ...       ...
227   positif   positif
631   negatif    netral
1149   netral   positif
85    positif   positif
50    positif   positif

[283 rows x 2 columns]

In [78]:
df.to_csv('C:/Users/sinag/belajar/akhir.csv', index=False)
data_clean = pd.read_csv('C:/Users/sinag/belajar/akhir.csv', encoding='latin1')
data_clean.head(20)

     Actual Predicted
0   negatif    netral
1   negatif   negatif
2   negatif   negatif
3    netral    netral
4   positif   negatif
5   negatif   negatif
6   positif   negatif
7   negatif   negatif
8   negatif    netral
9   negatif   negatif
10  positif   positif
11  negatif   negatif
12  negatif   negatif
13  negatif   positif
14  negatif    netral
15  negatif   negatif
16  positif   positif
17   netral   negatif
18   netral    netral
19  negatif   negatif

In [75]:
data_tweet = list(data['text'])
polaritas = 0

status = []
total_positif = total_negatif = total_netral = total = 0

for i, hasil in enumerate(data_tweet):
    analysis = TextBlob(hasil, classifier=clf)
    
    if analysis.classify() == 'positif':
        total_positif += 1
    elif analysis.classify() == 'netral':
        total_netral += 1
    else:
        total_negatif += 1
    
    status.append(analysis.classify())
    total += 1
print(f'hasil analisis data:\npositif = {total_positif}\nnetral = {total_netral}\nnegatif = {total_negatif}')
print(f'\ntotal : {total}')

AttributeError: 'DecisionTreeClassifier' object has no attribute 'classify'